
.verde{
	height: 400px;
	width: 600px;
	background-color: green;
	position: relative;
	padding: 5px;	
}
.cancha{
	height: 350px;
	width: 550px;
	border: 2px solid white;
	margin: 24px;
	position: relative;
}
.media {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 2px solid white;
	position: relative;
	top: -150px;
	left: 220px;
}
.area {
	height: 190px;
	width: 90px;
	border: 2px solid white;
}
.porteria1 {
	margin-top: 80px;
	border-left: 0px;
	position: relative;
}
.porteria2 {
	border-right: 0px;
	left: 459px;
	top: 80px;
	position: absolute;
}
.balon{
	height: 20px;
	width: 20px;
	background-color: red;
	border-radius: 100%;
	position: absolute;	
}
.uno {
	bottom: 250px;
	left: 80px;
}
.dos {
	bottom: 220px;
	left: 270px;
}
.tres {
	bottom: 170px;
	left: 435px;
}