.verde{
	height: 600px;
	width: 900px;
	background-color: green;
	position: absolute;
}
.cancha{
	height: 550px;
	width: 850px;
	border: 2px solid white;
	margin: 25px;
	
}
.porteria1 {
	height: 200px;
	width: 100px;
	border: 2px solid white;
	border-left: 0px;
	display: inline-block;
	margin-top: 175px;
	margin-bottom: 175px;
}
.porteria2 {
	height: 200px;
	width: 100px;
	border: 2px solid white;
	border-right: 0px;
	display: inline-block;
	margin-top: 175px;
	margin-bottom: 175px;
	margin-left: 256px;
}
.media {
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border: 2px solid white;
	display: inline-block;
	margin-top: 195px;
	margin-left: 230px;
	margin-bottom: 195px;

}
.balon {
	height: 30px;
	width: 30px;
	background-color: red;
	border-radius: 100%;
	position: relative;
}
.1{
	left: 90px;
}
.2{

}
.3{

}